#root {
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

.menuButton{
  flex: 1;
}
.menuButtonImg{
  width: 20%;
}
.menuButtonImg:hover{
  background-color: rgba(255,255,255,0.3);
}
.Name{
  flex: 1;
  font-size: 40px;
  margin: auto;
}
@keyframes button-tilt {
  from {
    transform: rotate(-5deg);
    transform: scale(1.2);
  }
  to {
    transform: rotate(5deg);
  }
}
@media (prefers-reduced-motion: no-preference) {
  .carText {
    animation: button-tilt infinite 0.75s linear alternate-reverse;
  }
}