:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #acacac;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
.TopBar{
  position: fixed;
  height: 100px;
  width: 100%;
  background-color: white;
  transition: background-color 0.5s;
  box-shadow: 0px 0px 20px rgba(0,0,0,0.5);
  color: black;
  z-index: 20;
}
.TopBar-dark{
  position: fixed;
  height: 100px;
  width: 100%;
  background-color: #3C4748;
  transition: background-color 0.5s;
  box-shadow: 0px 0px 20px rgba(0,0,0,0.5);
  color: rgb(255, 255, 255);
  z-index: 20;
}
.TopBar-dark img:first-child{
  filter: invert();
}
.TopBar-dark .menuButtonImg{
  filter: invert();
}
.SideBar{
  width: 15%;
  height: 90vh;
  margin-top: 10vh;
  position: fixed;
  background: linear-gradient(0deg, rgb(180,180,255)0% , rgb(255,180,180))100% ;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
  z-index: 19;
}
.products{
  z-index: 5;
  width: 85%;
  max-height: 2000vh;
  padding-top: 150px;
  margin-left: 15%;
  background:linear-gradient(rgb(255, 227, 231) 0%,rgb(255,255,255) 100%);
  background-size:cover;
  background-attachment: fixed;
  background-color: rgb(255, 255, 255);
}
.products *{
  z-index: 5;
}
.products-dark *{
  z-index: 5;
}
.products-dark{
  z-index: 5;
  width: 85%;
  max-height: 2000vh;
  padding-top: 150px;
  margin-left: 15%;
  background:linear-gradient(rgb(122, 122, 122) 0%,#3C4748 100%);
  background-size:cover;
  background-attachment: fixed;
  background-color: #3C4748;
}
.cart{
  height: 0vh;
}
.cart2{
  height: 100vh;
  background-color: red;
  width: 100%;
}
.products2{
  width: 85%;
  height: 0vh;
  padding-top: 0px;
  margin-left: 15%;
  background:linear-gradient(rgb(255,190,200) 0%,rgb(255, 255, 255) 100%);
  background-size:0px;
  background-attachment: fixed;
  background-color: white;
  z-index: 5;
}
.products *{
  z-index: 5;
}
.products-dark *{
  z-index: 5;
}
.products2 div{
  height: 0px;
  width: 0px;
}
.products2 div div div{
  font-size: 0px;
}
.products2 div div{
  font-size: 0px;
}
.products2 *{
  display: none;
}
.products2-dark{
  z-index: 5;
  width: 85%;
  height: 0vh;
  padding-top: 0px;
  margin-left: 15%;
  background:linear-gradient(rgba(255, 255, 255, 0.3) 0%,#3C4748 100%);
  background-size:0px;
  background-attachment: fixed;
  background-color: #3C4748;
}
.products2-dark div{
  height: 0px;
  width: 0px;
}
.products2-dark div div div{
  font-size: 0px;
}
.products2-dark div div{
  font-size: 0px;
}
.products2-dark *{
  display: none;
}
.CurProductClosed{
  height: 0px;
}
.CurProductClosed *{
  width: 0px;
  height: 0px;
  display: none;
}
.CurProductOpen{
  z-index: 1;
  height: 350vh;
  position: fixed;
  background:linear-gradient(rgb(255, 255, 255) 0%,rgb(161, 204, 253) 30%);
  width: 85%;
  background-attachment: fixed;
  left: 15%;
  background-color: white;
  top: 100px;
}
.CurProductOpen-dark{
  z-index: 1;
  position: absolute;
  height: 350vh;
  background:linear-gradient(#3C4748 0%,rgb(92, 124, 212) 30%);
  width: 85%;
  background-attachment: fixed;
  margin-left: 15%;
  background-color: #3C4748;
  top: 100px;
}
.CurProductOpen-dark *{
  z-index: 1;
}
.CurProductOpen *{
  z-index: 1;
}
.BottomBar{
  position: fixed;
  bottom: 0px;
  transition: background-color 0.5s;
  height: 0vh;
  width: 100%;
  background-color: white;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-around;
  box-shadow: 0px 0px 20px rgba(0,0,0,0.5);
  color: black;
  z-index: 21;
}
.BottomBar-dark{
  position: fixed;
  transition: background-color 0.5s;
  bottom: 0px;
  height: 0vh;
  width: 100%;
  background-color: #3C4748;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-around;
  box-shadow: 0px 0px 20px black;
  color: rgb(255, 255, 255);
  z-index: 21;
}
.BottomBar-dark img{
  filter: invert();
}

@media (max-width:1000px) {
  .SideBar{
    width: 0;
  }
  .products{
    width: 100%;
    margin-left: 0%;
  }
  .products-dark{
    width: 100%;
    margin-left: 0%;
  }
  .BottomBar{
    height: 100px;
  }
  .BottomBar-dark{
    height: 100px;
  }
  .TopBar{
    height: 150px;
  }
  .TopBar-dark{
    height: 150px;
  }
  .CurProductOpen{
    width: 100%;
    margin-left: 0;
    top: 150px;
    z-index: 2;
  }
  .CurProductOpen-dark{
   width: 100%;
    margin-left: 0;
    top: 150px;
    z-index: 2;
  }
}
