#root {
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

.item{
  width: 200px;
  height: 35vh;
  border-radius: 20px;
  color: black;
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  flex-wrap: nowrap;
  transition: transform 0.3s;
  transition: box-shadow 0.15s;
}
.item:hover{
  background-color: rgba(0, 0, 0, 0.025);
  transform: scale(1.01);
  transition: transform 0.3s;
  box-shadow: 0px 0px 5px rgba(0,0,0,0.3);
  transition: box-shadow 0.15s;
}
.mainDiv{
  width: 100%;
  height: 97.5%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-content: flex-start;
  gap:30px 2px;
}
.imagediv{
  margin: auto;
  width: 180px;
  height: 180px; /* Makes it square */
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 12px; /* Optional: rounded corners */
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);
}
.image{
  width: 100%;
  display: block;
  margin: auto;
  max-height: 80%;
  object-fit: contain;
}
.textdiv{
  flex: 4;
  margin-top: 0;
  position: relative;
}
.text{
  text-align: center;
  font-weight: 600;
  height: 0px;
}
.price{
  text-align: center;
  font-weight: 700;
  text-indent: 100px;
  height: 0px;
  margin-top: 25%;
}
.discount{
  transform: rotate(5deg);
  text-align: center;
  font-weight: 700;
  text-indent: 150px;
  height: 0px;
  color: white;
  text-shadow: 0px 0px 5px black;
  position: absolute;
  top: 42%;
  right: 53%;
  z-index: 4;
  margin-top: 0px;
}
.discountImg{
  width: 50px;
  margin-left: 60%;
  margin-top: 1px;
  z-index: 3;
  object-fit: cover;
  position: absolute;
  top: 37%;
  right: 50%;
}

.pages{
  width: 10%;
  display: flex;
  height: 5vh;
  margin:auto;
  display: flex;
}
.pageNum{
  flex:1;
  height: 100%;
  box-shadow: inset 0px 0px 5px black;
  border-radius: 5px;
  color: black;
  text-align: center;
  font-size: 30px;
}
.leftarr{
  flex: 1;
}
.leftarr img{
  transform: rotate(180deg);
  width: 80%;
  height: 100%;
}
.rightarr{
  flex: 1;
}
.rightarr img{
  width: 80%;
  height: 100%;
  margin-left: 20%;
}
@keyframes button-tilt {
  from {
    transform: rotate(-5deg);
    transform: scale(1.2);
  }
  to {
    transform: rotate(5deg);
  }
}
@media (prefers-reduced-motion: no-preference) {
  .carText {
    animation: button-tilt infinite 0.75s linear alternate-reverse;
  }
}