#root {
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

.menuButton{
  flex: 1;
}
.menuButtonImg{
  min-width: 80px;
  max-width: 100px;
}
.mobileDevider{
  width: 100%;
  height: 100%;
}
.topTB{
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-around;
}
.bottomTB{
  width: 100%;
  height: 0px;
}
.buttonTB{
  font-size: 0;
}
.searchbar{
  flex: 2;
  height: 50%;
  padding-top: 1.5%;
  display: flex;
  align-items: center;
  padding-top: 25px;
}
.searchIcon{
  width: 50px;
  height: 50px;
}
.searchbox{
  height: 75%;
  width: 75%;
  background-color: white;
  border-radius: 15px;
  color: black;
  text-indent: 20px;
  border: 0;
  box-shadow: 0px 0px 5px black;
}
.icons{
  flex: 1;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-right: 2.5%;
}
.icons p{
  flex: 2;
  font-weight: 600;
  font-size: 20px;
  text-align: right;
}
.icons img{
  height: 50%;
  padding: 20px;
}
.menuButtonImg:hover{
  background-color: rgba(255,255,255,0.3);
}
.Name{
  flex: 2;
  font-size: 40px;
  margin:auto;
  text-align: center;
  font-weight: 700;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
@keyframes button-tilt {
  from {
    transform: rotate(-5deg);
    transform: scale(1.2);
  }
  to {
    transform: rotate(5deg);
  }
}
@media (prefers-reduced-motion: no-preference) {
  .carText {
    animation: button-tilt infinite 0.75s linear alternate-reverse;
  }
}
@media (max-width:1000px) {
  .icons{
    flex: 0;
  }
  .icons img:first-child{
    height: 0%;
  }
  .icons img:last-child{
    height: 0%;
  }
  .icons p{
    font-size: 0px;
  }
  .Name{
    order: 2;
  }
  .topTB{
    height: 66%;
  }
  .bottomTB{
    height: 34%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    gap: 10px;
    padding-left:30px ;
  }
  .buttonTB{
  min-width: 70px;
  max-width: 120px;
  transition: background-color 0.1s;
  transition: color 0.2s;
  height: 75%;
  font-size: 22.5px;
  padding-right: 5px;
  text-align: center;
  text-indent: 10px;
  box-shadow: 0px 0px 0px rgba(226, 226, 226,1);
  border-radius: 30px;
}
.buttonTB:active{
  background-color: black;
  transition: background-color 0.1s;
  transition: color 0.2s;
  color: white;
}
}